$z-index-sidebar: 5;
$z-index-sidebar-backdrop: 4;
$z-index-sidebar-workspaces: 7;
$z-index-sidebar-workspaces-backdrop: 6;
$z-index-product-updates: 9;
$z-index-product-updates-backdrop: 8;
$z-index-toast: 251002;
$z-index-topbar: 4;
$z-index-backdrop: 250996;
$z-index-drawer: 998;
$z-index-dropdown: 5;
$z-index-checkbox: 0;
$z-index-range: 1;
$z-index-indicator: 1;
$z-index-modal: 998;
$z-index-modal--dialog: 250999;
$z-index-new-dropdown: 251000;
$z-index-options: 2;
$z-index-tooltip: 250999;
$z-index-list--item: 2;
$z-index-hover-table: 3;
$z-index-label: 1;
$z-index-color-picker: 251001;
$z-index-boxoutline-checkmark: 3;
$z-index-table: 5;
