.form {
  &--has-error {
    input,
    select {
      border-color: $color-error !important;
      border-width: 2px !important;
    }

    input {
      box-shadow: none;
    }

    label {
      color: $color-error;
    }
  }
}

.form-field {
  position: relative;
  min-height: 62px;

  .label {
    padding: 0 0 5px;
  }

  .input {
    &__error {
      color: $color-error;
      font-size: 12px;
      display: block;
    }
  }

  &--has-error {
    margin-bottom: $margin-medium;

    label {
      color: $color-error;
      position: absolute;
      top: 20px;
      left: 0;
      text-transform: uppercase;
      transition: opacity 0.3s, top 0.3s;
      opacity: 0;
    }

    select {
      border-color: $color-error;
      border-width: 2px;
    }
  }
}

.input__label {
  font-size: 16px;
  font-weight: 400;
  color: $color-3;
  margin: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  opacity: 0;
}

.input__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 38px;
  position: relative;

  input:focus ~ label,
  input:valid ~ label {
    top: -18px;
    font-size: 14px;
  }

  input:valid ~ label {
    opacity: 1;
  }

  input:invalid ~ label {
    top: 11px;
    font-size: 16px;
  }

  input:invalid:focus {
    box-shadow: none;
  }

  &--show-label {
    input ~ label,
    input:focus ~ label,
    input:valid ~ label,
    input:invalid ~ label,
    input:disabled ~ label {
      top: -18px;
      font-size: 14px;
      opacity: 1;
    }

    input:disabled ~ label {
      color: $color-7;
    }
  }

  &--focused {
    input ~ label,
    input:focus ~ label,
    input:valid ~ label,
    input:invalid ~ label {
      top: -18px;
      font-size: 14px;
      opacity: 1;
    }

    &--table {
      min-height: 22px;
    }
  }

  button {
    margin-right: $margin-medium;
  }

  .input {
    border: 0;
    border-bottom: 1px solid $color-input-border;
    color: $color-1;
    font-size: 16px;
    height: 38px;
    outline: none;
    line-height: 1;
    letter-spacing: unset;
    padding: 0;
    box-shadow: none;
    width: auto;

    &:focus {
      outline: none;
      box-shadow: none;

      ~ .bar:before,
      ~ .bar:after {
        width: 100%;
      }
    }

    &.error {
      border-color: $color-error;
      border-width: 2px;
      box-shadow: none;
    }

    &::placeholder {
      color: $color-8;
      border-style: dotted;
      border-color: $color-input-border;
    }

    &:disabled {
      border-color: $color-8;
      border-style: dotted;
      color: $color-input-border;
      -webkit-text-fill-color: $color-input-border;
      background-color: transparent;
    }

    &--transparent {
      background-color: transparent;
    }

    &--grayed-placeholder {
      color: $color-3;
    }

    &--hidden-arrows {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type='number'] {
        -moz-appearance: textfield;
      }
    }

    &--table {
      width: 100%;
      font-size: 14px;
      height: 22px;
    }
  }
}

::-webkit-input-placeholder {
  border: 0;
}

::-moz-placeholder {
  border: 0;
}

:-ms-input-placeholder {
  border: 0;
}

:-moz-placeholder {
  border: 0;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: $color-1;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 0;
}

.bar:after {
  right: auto;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 100%;
}

.input__tooltip {
  position: absolute;
  top: -18px;
  right: 0;

  &--form {
    top: 8px;
  }
}
