.badge {
  position: relative;
  padding: 0 $padding-tiny;
  text-transform: uppercase;
  font-size: 12px;
  color: $color-white;
  border-radius: $radius-micro;
  line-height: 20px;
  display: inline-flex;
  align-items: baseline;
  height: 20px;
  margin-right: 5px;

  a {
    font-weight: 400;
    color: $color-white;
    text-decoration: none;
  }
  &__tooltip {
    max-width: 105px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &--accent-1 {
    background: $color-accent-1;
  }

  &--accent-2 {
    background: $color-accent-2;
  }

  &--accent-3 {
    background: $color-accent-3;
  }

  &--accent-4 {
    background: $color-accent-4;
  }

  &--accent-5 {
    background: $color-accent-5;
  }

  &--accent-6 {
    background: $color-accent-6;
  }

  &--accent-7 {
    background: $color-accent-7;
  }

  &--accent-8 {
    background: $color-3;
  }

  &--alert {
    background: $color-alert;
  }

  &--warning {
    background: $color-warning;
  }

  &--success {
    background: $color-success;
  }

  &--info {
    background: $color-info;
  }

  &--pending {
    background: $color-pending;
  }

  &--indicator {
    border-radius: $radius-huge;
  }

  &--paid {
    background: $color-success;
  }

  &--open {
    background: $color-warning;
  }

  &--canceled {
    background: $color-alert;
  }

  &--ai {
    background: $color-ai;
  }

  &--green-with-border {
    background-color: $color-light-green;
    color: $color-success;
    border: 1px solid $color-success;
  }

  &--text-uppercase-none {
    text-transform: none;
  }

  svg {
    vertical-align: -1px;
    margin-right: $margin-tiny;
  }
}
