{
  "presets": [["@babel/preset-env"], "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@constants": "./src/constants",
          "@events": "./src/events",
          "@helpers": "./src/helpers",
          "@i18n": "./src/i18n",
          "@lib": "./src/lib",
          "@shapes": "./src/shapes",
          "@store": "./src/store",
          "@jestutils": "./config/tests/jest/utils.js",
          "@jestmocks": "./config/tests/jest/setup"
        }
      }
    ],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    [
      "transform-imports",
      {
        "@fortawesome/free-solid-svg-icons": {
          "transform": "@fortawesome/free-solid-svg-icons/${member}",
          "skipDefaultConversion": true
        }
      }
    ]
  ]
}
