{
  "parser": "@babel/eslint-parser",
  "plugins": [
    "react",
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "jsx-quotes": [2, "prefer-single"],
    "prettier/prettier": [
			"error",
			{
				"singleQuote": true,
        "semi": false,
				"arrowParens": "avoid",
        "jsxSingleQuote": true,
        "endOfLine":"auto",
        "trailingComma" : "none"
			}
		]
  },
  "extends": [
    "eslint:all",
    "plugin:react/all",
    "plugin:react-hooks/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
