{
  "parser": "@babel/eslint-parser",
  "plugins": ["react", "react-hooks"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "camelcase": "off",
    "no-use-before-define": "off",
    "react/sort-comp": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-sort-props": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-sort-default-props": "off",
    "react/jsx-max-depth": "off",
    "react/jsx-fragments": "off",
    "react/jsx-no-literals": "off",
    "react/sort-prop-types": "off",
    "react/function-component-definition": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/forbid-component-props": "off",
    "multiline-ternary": "off",
    "array-callback-return": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "react/no-set-state": "off",
    "react/state-in-constructor": "off",
    "jsx-quotes": ["error", "prefer-single"],
    "mdx/no-unused-expressions": "off",
    "no-console": "error",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:mdx/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "mdx/code-blocks": true,
    "mdx/language-mapper": {}
  },
  "overrides": [
    {
      "files": ["*.mdx"],
      "parser": "eslint-mdx"
    }
  ]
}
