.checkbox-container {
  display: flex;

  .checkbox {
  &__input {
      z-index: 0;
      position: relative;
      display: inline-block;
      margin-bottom: 0;

      input {
        appearance: none;
        z-index: -1;
        position: absolute;
        left: -10px;
        top: -8px;
        display: block;
        margin: 0;
        width: 40px;
        height: 40px;
        box-shadow: none;
        outline: none;
        opacity: 0;

        @media (hover) {
          transform: scale(1);
          pointer-events: none;
        }

        transition: opacity 0.3s, transform 0.2s;

          &:checked,
          &:indeterminate {
            background-color: $color-brand;

            + div {
              &::before {
                border-color: $color-brand;
                background-color: $color-brand;
              }

              &::after {
                border-color: $color-white;
              }
            }
          }

          &:indeterminate {
            background-color: $color-brand;

            + div {
              &::after {
                border-left: none;
                transform: translate(3px, 4px);
              }
            }
          }

          &:focus {
            opacity: 0;
            outline: none;
          }

          &:active {
            opacity: 1;
            transform: scale(0);
            transition: transform 0s, opacity 0s;

            + div {
              &::before {
                border-color: $color-brand;
              }
            }
          }

          &:checked:active {
            opacity: 1;
            transform: scale(0);
            transition: transform 0s, opacity 0s;

            + div {
              &::before {
                border-color: transparent;
                background-color: $color-brand;
                opacity: 0.6;
              }
            }
          }

          &:disabled {
            opacity: 0;
            + div {
              color: $color-5;
              cursor: initial;

              &::before {
                border-color: currentColor;
              }
            }
          }

          &:checked:disabled,
          &:indeterminate:disabled {
            + div::before {
              border-color: transparent;
              background-color: currentColor;
            }
          }
      }

        div {
          &::before {
            content: "";
            display: inline-block;
            box-sizing: border-box;
            margin: 3px 11px 3px 1px;
            background-color: $color-white;
            border: solid 2px;
            border-color: $color-8;
            border-radius: 2px;
            width: 18px;
            height: 18px;
            vertical-align: top;
            transition: border-color 0.2s, background-color 0.2s;
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 4px;
            left: 2px;
            width: 8px;
            height: 3px;
            border: solid 2px transparent;
            border-right: none;
            border-top: none;
            transform: translate(3px, 4px) rotate(-45deg);
          }
        }

        @media (hover) {
          &:hover {
            input {
              opacity: 0.04;

              &:focus {
                opacity: 0.16;
              }
            }
          }
        }
  }

  &__label {
    &--disabled {
      color: $color-7;
    }
  }

  }
}
