.container {
  display: flex;

  &--vertical {
    flex-direction: column;
  }

  &--horizontal {
    flex-direction: row;
  }
}

.legend {
  margin-right: 20px;
  margin-left: 25px;
  position: relative;
  display: block;
}
