.button {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  border: 0;
  cursor: pointer;
  line-height: 1;
  background: $color-white;
  min-width: 36px;
  min-height: 36px;
  position: relative;
  font-weight: 600;
  transition: background 0.5s, box-shadow 0.5s;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;

  &:hover {
    text-decoration: none;
    color: $color-1;
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    background-color: $color-4;
    color: $color-white;

    svg,
    i {
      color: $color-white;
    }

    &:hover,
    &:focus,
    &:active {
      cursor: not-allowed;
      background-color: $color-4;
      color: $color-white;

      svg,
      i {
        color: $color-white;
      }
    }
  }

  &--primary {
    background: $color-brand;
    color: $color-white;

    &:active {
      background-color: $color-brand;
    }

    svg,
    i {
      color: $color-white;
    }

    &:hover,
    &:focus {
      background-color: $color-button-primay-hover;
      color: $color-white;
      box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.2);
    }
  }

  &--alert {
    background: $color-error;
    color: $color-white;

    &:active {
      background-color: $color-error;
    }

    &:hover,
    &:focus {
      background-color: $color-error-hover;
      color: $color-white;
    }
  }

  &--secondary {
    background: transparent;
    color: $color-brand;

    &:active {
      background-color: $color-4;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $color-button-hover;
      color: $color-brand;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: transparent;
      color: $color-4;

      svg,
      i {
        color: $color-4;
      }

      &:hover {
        background-color: transparent;
        color: $color-4;

        svg,
        i {
          color: $color-4;
        }
      }
    }
  }

  &--secondary-outlined {
    box-sizing: border-box;
    background: transparent;
    color: $color-brand;
    border: 1px solid $color-brand;

    svg,
    i {
      color: $color-brand;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $color-button-hover;
      color: $color-brand;
      border: 1px solid $color-brand;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: transparent;
      color: $color-4;
      border: 1px solid $color-4;

      svg,
      i {
        color: $color-4;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        color: $color-4;

        svg,
        i {
          color: $color-4;
        }
      }
    }

    &--loading {
      border: none;
      background-color: transparent;
      color: $color-4;

      svg,
      i {
        color: $color-4;
      }

      &:hover,
      &:active,
      &:focus,
      &:disabled {
        border: none;
        background-color: transparent;
        color: $color-4;
      }
    }
  }

  &--hide {
    display: none;
  }

  &--mini {
    font-size: 12px;
    padding: 0;
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--tiny {
    padding: 8px 20px;
    font-size: 12px;
    min-height: 28px;
  }

  &--small {
    padding: 0;
    font-size: 12px;
  }

  &--medium {
    padding: 12px 20px;
    max-height: 38px;
    font-size: 14px;
  }

  &--large {
    padding: 13px 24px;
    font-size: 18px;
  }

  &--fit-width {
    width: 100%;
  }

  &--dropdown {
    padding: $padding-small $padding-medium;
    color: $color-3;
    background: transparent;

    span {
      font-size: 14px;
      font-weight: 400;
      padding: 0 $padding-medium 0 $padding-small;
      color: $color-1;
    }

    &:hover {
      background: $color-button-hover;
      color: $color-1;

      svg,
      i {
        color: $color-1;
      }
    }
  }

  &--dropdown-element {
    color: $color-2;
    background: transparent;
    font-weight: 400;
    width: 100%;
    text-align: left;
    padding: 0 15px;
    max-height: none;

    svg,
    i {
      color: $color-2;
    }

    &:hover,
    &:focus,
    &:active {
      color: $color-1;

      svg,
      i {
        color: $color-1;
      }
    }

    &:disabled,
    &[disabled] {
      background: transparent;
      color: $color-4;

      svg,
      i {
        color: $color-4;
      }

      &:hover,
      &:focus,
      &:active {
        background: transparent;
        color: $color-4;

        svg,
        i {
          color: $color-4;
        }
      }
    }
  }

  &--transparent {
    color: $color-3;
    background: transparent;

    svg,
    i {
      color: $color-3;
    }

    &--active {
      color: $color-1;

      svg,
      i {
        color: $color-1;
      }
    }

    &-blue {
      background: transparent;
      color: $color-brand;

      &:hover {
        background: $color-button-hover;
        color: $color-brand;

        svg,
        i {
          color: $color-brand;
        }
      }

      svg,
      i {
        color: $color-brand;
      }
    }

    &:hover {
      background: $color-button-hover;
      color: $color-1;

      svg,
      i {
        color: $color-1;
      }
    }

    &:disabled {
      cursor: not-allowed;
      background-color: transparent;
      color: $color-4;

      svg,
      i {
        color: $color-4;
      }

      &:hover {
        background-color: transparent;
        color: $color-4;

        svg,
        i {
          color: $color-4;
        }
      }
    }
  }

  &--white {
    color: $color-white;
    background: transparent;

    svg,
    i {
      color: $color-white;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }
  }

  &--black {
    color: $color-1;

    svg,
    i {
      color: $color-1;
    }

    &:hover {
      background-color: $color-button-hover;
    }
  }

  &--tabs {
    background: transparent;
    border-radius: 0;
    padding: 10px 20px 10px;
    min-width: 100px;
    font-weight: 600;
    color: inherit;
  }

  &--icon {
    padding: 0;

    &:after {
      background: $color-3;
    }

    svg,
    i {
      color: $color-3;
    }

    &:hover {
      background: $color-button-hover;

      svg,
      i {
        color: $color-1;
      }
    }

    &:disabled,
    &[disabled] {
      cursor: not-allowed;
      background-color: $color-white;
      color: $color-4;

      svg,
      i {
        background-color: $color-white;
        color: $color-4;
      }

      &:hover,
      &:focus,
      &:active {
        cursor: not-allowed;
        background-color: $color-white;
        color: $color-4;

        svg,
        i {
          background-color: $color-white;
          color: $color-4;
        }
      }
    }
  }

  &--icon-transparent {
    padding: 0;
    background: transparent;

    &:after {
      background: $color-3;
    }

    svg,
    i {
      color: $color-3;
    }

    &:hover {
      background: transparent;

      svg,
      i {
        color: $color-1;
      }
    }

    &--active {
      color: $color-1;

      svg,
      i {
        color: $color-1;
      }
    }

    &-hover {
      padding: 0;
      background: transparent;

      svg,
      i {
        color: $color-3;
      }

      &:hover {
        background: $color-button-hover;

        svg,
        i {
          color: $color-1;
        }
      }

      &:disabled,
      &[disabled] {
        cursor: not-allowed;
        background-color: transparent;
        color: $color-4;

        svg,
        i {
          background-color: transparent;
          color: $color-4;
        }

        &:hover,
        &:focus,
        &:active {
          cursor: not-allowed;
          background-color: transparent;
          color: $color-4;

          svg,
          i {
            background-color: transparent;
            color: $color-4;
          }
        }
      }
    }

    &:disabled,
    &[disabled] {
      cursor: not-allowed;
      background-color: transparent;
      color: $color-4;

      svg,
      i {
        background-color: transparent;
        color: $color-4;
      }

      &:hover,
      &:focus,
      &:active {
        cursor: not-allowed;
        background-color: transparent;
        color: $color-4;

        svg,
        i {
          background-color: transparent;
          color: $color-4;
        }
      }
    }
  }

  &--svg {
    svg,
    i {
      margin-right: $margin-small;
    }
  }

  &--switcher {
    max-width: 220px;
    display: flex;
    align-items: center;
    line-height: 18px;
    padding: $padding-small $padding-medium;
    color: $color-3;
    background: transparent;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 220px;
      font-size: 14px;
      font-weight: 400;
      padding: 0 $padding-medium 0 $padding-small;
      color: $color-1;
    }

    &:hover {
      background: $color-button-hover;
      color: $color-1;

      svg,
      i {
        color: $color-1;
      }
    }
  }

  &--center {
    display: block;
    margin: 0 auto;
  }

  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }

  &--input {
    font-size: 14px;
    min-width: 32px;
    min-height: 32px;

    svg,
    i {
      margin: 0 !important;
    }
  }

  &--action {
    font-size: 12px;
    padding: 0;
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    background: $color-brand;
    display: flex;
    justify-content: center;
    align-items: center;

    svg,
    i {
      color: $color-white;
    }

    &:hover {
      background: $color-button-primay-hover;
    }
  }

  &--publish {
    background: $color-publish;
    color: $color-white;
    font-weight: 400;

    svg,
    i {
      color: $color-white;
    }

    &:hover {
      background: $color-publish-hover;
      color: $color-white;
    }

    &:disabled {
      background-color: $color-publish-disabled;
      color: $color-11;
      pointer-events: none;

      svg,
      i {
        color: $color-11;
      }
    }
  }
}

.link {
  color: $color-2;
  background: transparent;

  &:hover,
  &:focus,
  &:active {
    color: $color-2;
    background: transparent;
    box-shadow: none;
  }
}
