.status-icon {
  display: flex;
  border-radius: 50%;
  position: relative;

  &--active {
    padding: 0;
    background-color: $color-success;
  }

  &--inactive {
    padding: 0;
    background-color: $color-5;
  }

  &--warning {
    padding: 0;
    background-color: $color-warning;
  }

  &--tiny {
    min-height: 15px;
    min-width: 15px;
    height: 15px;
    width: 15px;

    i {
      color: $color-white;
      font-size: 7px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--medium {
    min-height: 20px;
    min-width: 20px;
    height: 20px;
    width: 20px;

    i {
      color: $color-white;
      font-size: 0.75em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--big {
    min-height: 25px;
    min-width: 25px;
    height: 25px;
    width: 25px;

    i {
      color: $color-white;
      font-size: 0.75em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
