.spacer--tiny {
  padding: $padding-tiny 0;
}

.spacer--small {
  padding: $padding-small 0;
}

.spacer--medium {
  padding: $padding-medium 0;
}

.spacer--large {
  padding: $padding-large 0;
}

.spacer--big {
  padding: $padding-big 0;
}

.spacer--huge {
  padding: $padding-huge 0;
}
