.pagination {
  color: $color-3;
  margin: 20px $margin-x-large 5px;
  font-size: 12px;
  display: flex;

  &__first,
  &__last {
    margin: 0 $margin-medium;

    button {
      padding: 0 $padding-medium;
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    button {
      color: $color-3;
    }

    &__current {
      button {
        font-weight: 700;
        color: $color-1;
      }
    }
  }
}
