.box-outline {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding-medium $padding-small;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &__default {
    border: 1px solid transparent;

    &--hover:hover {
      border: 1px solid $color-brand;
      box-shadow: 5px 10px 20px $color-shadow;
    }
  }

  &__background {
    border: 1px solid $color-input-border;

    &--hover:hover {
      border: 1px solid $color-brand;
      background: $color-box-bg-hover;
      box-shadow: 0px 2px 4px $color-shadow;
    }
  }

  &__disabled {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(1);
    cursor: default;
    border: 1px solid $color-input-border;
  }

  &__no-padding {
    padding: 0;
  }

  &__padding-large {
    padding: $padding-medium $padding-large;
  }

  &.box-outline__is-selected {
    border: 1px solid $color-success;

    &--hover:hover {
      border: 1px solid $color-success;
      box-shadow: 5px 10px 20px #0000001a;
    }
  }

  &__checkmark-status {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 12px;
    z-index: $z-index-boxoutline-checkmark;

    &--is-selected {
      background-color: $color-success;
    }
  }
}
