:global {
  .form-rselect {
    label {
      padding: 0;
    }

    &.form--has-value {
      .Label__label {
        top: -10px;
        opacity: 1;
        z-index: $z-index-label;
      }
    }
  }

  .react-select-container {
    .react-select {
      &__placeholder {
        color: $color-8;
      }

      &__single-value {
        padding: 5px 0;
      }

      &__control {
        border: 0;
        border-bottom: 1px solid $color-input-border;
        height: 38px;
        color: $color-1;
        font-size: 16px;
        padding: 0;
        outline: none;
        line-height: 1;
        border-radius: 0;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC');
        background-repeat: no-repeat, repeat;
        background-position: right 0 top 50%, 0 0;
        background-size: 10px auto, 100%;

        &--is-focused {
          outline: none;
          box-shadow: none;

          &:hover {
            border: 0;
            border-color: color-input-border;
            border-bottom: 1px solid $color-input-border;
          }
        }
      }

      &__value-container {
        padding: 0;
      }

      &__indicator-separator {
        display: none;
      }

      &__indicator {
        display: none;
      }

      &__menu {
        border-radius: 0;
        box-shadow: 0 2px 4px 3px $color-shadow;
        background: $color-white;
        border-radius: $radius-tiny;
        color: $color-1;
        display: block;
        z-index: $z-index-options;
      }

      &__multi-value {
        background-color: transparent;
      }

      &__multi-value__label {
        color: $color-1;
        padding-left: 0;
      }

      &__multi-value__remove {
        color: $color-1;
        cursor: pointer;

        &:hover {
          background-color: transparent;
          color: $color-1;
        }
      }

      &__option {
        color: $color-2;
        font-size: 14px;

        &--is-selected {
          background: $color-6;
          color: $color-1;
          cursor: pointer;
        }

        &--is-focused {
          background: $color-6;
          color: $color-1;
          cursor: pointer;
        }

        &:hover,
        &:focus,
        &:active {
          background: $color-6;
          color: $color-1;
          cursor: pointer;
        }
      }
    }
  }
}

.input__wrapper {
  position: relative;
}
