.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;

  &--brand {
    background: $color-brand;
  }

  &--accent-1 {
    background: $color-accent-1;
  }

  &--accent-2 {
    background: $color-accent-2;
  }

  &--accent-3 {
    background: $color-accent-3;
  }

  &--accent-4 {
    background: $color-accent-4;
  }

  &--accent-5 {
    background: $color-accent-5;
  }

  &--accent-6 {
    background: $color-accent-6;
  }

  &--accent-7 {
    background: $color-accent-7;
  }

  &--alert {
    background: $color-alert;
  }

  &--warning {
    background: $color-warning;
  }

  &--success {
    background: $color-success;
  }

  &--info {
    background: $color-info;
  }

  &--pending {
    background: $color-pending;
  }
}
