.select-form {
  border: 0;
  border-bottom: 1px solid $color-input-border;
  color: $color-1;
  font-size: 16px;
  padding: 0;
  height: 38px;
  outline: none;
  line-height: normal;
  width: 100%;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC');
  background-repeat: no-repeat, repeat;
  background-position: right 0 top 50%, 0 0;
  background-size: 10px auto, 100%;
  cursor: pointer;

  &::-ms-expand {
    display: none;
  }

  &:hover,
  &:focus {
    border-color: $color-1;
  }

  &:focus {
    outline: none;

    ~ .bar:before,
    ~ .bar:after {
      width: 100%;
    }
  }

  &.error {
    border-color: $color-error;
    border-width: 2px;
  }

  &::placeholder {
    color: $color-3;
    border-style: dotted;
    border-color: $color-input-border;
  }

  &:disabled {
    border-color: $color-8;
    border-style: dotted;
    color: $color-input-border;
    background-color: transparent;
  }

  &--transparent {
    background-color: transparent;
  }
}

:global {
  .form--has-error {
    select {
      border-color: $color-error;
      border-width: 2px;
    }

    label {
      color: $color-error;
    }
  }
}

.input__label {
  font-size: 16px;
  font-weight: 400;
  color: $color-3;
  margin: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  select:focus ~ label,
  select:valid ~ label {
    // top: -14px;
    font-size: 14px;
  }

  select:invalid ~ label {
    top: 11px;
    font-size: 16px;
  }
}

::-webkit-input-placeholder {
  border: 0;
}

::-moz-placeholder {
  border: 0;
}

:-ms-input-placeholder {
  border: 0;
}

:-moz-placeholder {
  border: 0;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: $color-1;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 0;
}

.bar:after {
  right: auto;
}
