.textarea {
  box-sizing: border-box;
  padding: $padding-small;
  resize: none;
  width: 100%;
  font-size: 14px;
  background-color: $color-white;
  font-family: 'Inter', sans-serif;
  border: 1px solid $color-input-border;
  outline: none;

  &:hover {
    border: 1px solid $color-1;
  }

  &:focus {
    box-shadow: none;
    border: 1px solid $color-1;
  }

  &--tiny {
    min-height: 55px;
  }

  &--small {
    min-height: 121px;
  }

  &--medium {
    min-height: 300px;
  }

  &--codearea {
    height: 414px;
    padding: $padding-small;
    background-color: $color-1;
    color: $color-white;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    border: none;

    &:hover,
    &:focus {
      border: none;
    }
  }

  &--resize {
    resize: vertical;
  }

  &--error {
    box-shadow: none;
    border: 1px solid $color-error;
  }

  &__label {
    &--error {
      color: $color-error;
    }

    &--disabled {
      color: $color-7;
    }
  }

  &:disabled {
    box-shadow: none;
    border: 1px dotted $color-8;
    color: $color-input-border;
    -webkit-text-fill-color: $color-input-border;
  }
}
