.paragraph {
  margin: 0;

  &-uppercase {
    text-transform: uppercase;
  }

  &-decoration--line-through {
    text-decoration: line-through ;
  }

  &-padding {
    &--medium {
      padding: 0 0 $padding-medium;
    }

    &--small {
      padding: $padding-small;
    }

    &--none {
      padding: 0;
    }
  }

  &-align {
    &--left {
      text-align: left;
    }

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }

    &--justify {
      text-align: justify;
    }
  }

  &-color {
    &--accent-1 {
      color: $color-1;
      line-height: 20px;
    }

    &--accent-2 {
      color: $color-3;
      line-height: 20px;
    }

    &--accent-3 {
      color: $color-8;
      line-height: 20px;
    }

    &--accent-4 {
      color: $color-10;
    }

    &--accent-5 {
      color: $color-2;
    }

    &--accent-6 {
      color: $color-4;
    }

    &--accent-7 {
      color: $color-12;
    }

    &--info {
      color: $color-info;
    }

    &--white {
      color: $color-white;
    }

    &--color-8 {
      color: $color-8;
    }

    &--success {
      color: $color-success;
    }

    &--brand {
      color: $color-brand;
    }

    &--warning {
      color: $color-warning;
    }
  }

  &-size {
    &--10 {
      font-size: 10px;
    }

    &--12 {
      font-size: 12px;
    }

    &--14 {
      font-size: 14px;
    }

    &--16 {
      font-size: 16px;
    }

    &--18 {
      font-size: 18px;
    }
  }

  &-weight {
    &--300 {
      font-weight: 300;
    }

    &--400 {
      font-weight: 400;
    }

    &--700 {
      font-weight: 700;
    }
  }

  &-line {
    &--18 {
      line-height: 18px;
    }

    &--20 {
      line-height: 20px;
    }

    &--22 {
      line-height: 20px;
    }

    &--24 {
      line-height: 24px;
    }

    &--28 {
      line-height: 28px;
    }
  }
}
