.thead {
  border-bottom: 1px solid $color-7;
  display: grid;

  &--externalBorder {
    border: 1px solid $color-7;
  }

  &--padding-top-bottom {
    padding: 15px 0;
  }
}

.th {
  display: flex;
  align-items: center;
  padding: $padding-medium;
  font-size: 12px;
  font-weight: 600;
  color: $color-8;

  &:first-of-type {
    padding-left: $padding-x-large;
  }

  &:last-of-type {
    padding-right: $padding-x-large;
  }

  &--options {
    min-height: 58px;
    padding: $padding-small;
  }

  &__options {
    color: $color-1;
    font-size: 14px;
    font-weight: 500;
  }
}
