@font-face {
  font-family: 'react-editor-icons';
  src: url('/src/styles/fonts/editor-icons.eot');
  src: url('/src/styles/fonts/editor-icons.eot?#iefix')
      format('embedded-opentype'),
    url('/src/styles/fonts/editor-icons.woff2') format('woff2'),
    url('/src/styles/fonts/editor-icons.woff') format('woff'),
    url('/src/styles/fonts/editor-icons.ttf') format('truetype'),
    url('/src/styles/fonts/editor-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
