.label {
  font-size: 14px;
  line-height: 1;
  display: block;
  font-weight: 400;
  margin: 0;

  &--padding {
    &--default {
      padding: 7px 0;
    }

    &--none {
      padding: 0;
    }

    &--top {
      padding-top: 7px;
    }
  }

  &--normal {
    color: $color-3;
  }

  &--active {
    color: $color-1;
  }

  &--inactive {
    color: $color-5;
  }
}
