.limit-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  color: $color-2;
  font-size: 12px;

  .progressbar__wrapper {
    width: 100%;
    padding: 4px 0 9px;
  }

  .regular-limit {
    color: #7B7B7B;
  }
}

.padding-none {
  padding: 0;
}

.padding-tiny {
  padding-top: $padding-tiny;
}

.padding-small {
  padding-top: $padding-small;
}

.padding-medium {
  padding-top: $padding-medium;
}

