.editor-icon {
  &--10 {
    &::before {
      font-size: 10px;
    }
  }

  &--12 {
    &::before {
      font-size: 12px;
    }
  }

  &--14 {
    &::before {
      font-size: 14px;
    }
  }

  &--16 {
    &::before {
      font-size: 16px;
    }
  }

  &--32 {
    &::before {
      font-size: 32px;
    }
  }
}
.editor-icon:before {
  font-family: 'react-editor-icons';
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ab-testing:before {
  content: '\e800';
} /* '' */
.icon-align-center:before {
  content: '\e801';
} /* '' */
.icon-align-justify:before {
  content: '\e802';
} /* '' */
.icon-align-left:before {
  content: '\e803';
} /* '' */
.icon-align-right:before {
  content: '\e804';
} /* '' */
.icon-angle-double-down:before {
  content: '\e805';
} /* '' */
.icon-angle-double-left:before {
  content: '\e806';
} /* '' */
.icon-angle-double-right:before {
  content: '\e807';
} /* '' */
.icon-angle-double-up:before {
  content: '\e808';
} /* '' */
.icon-angle-down:before {
  content: '\e809';
} /* '' */
.icon-angle-left:before {
  content: '\e80a';
} /* '' */
.icon-angle-right:before {
  content: '\e80b';
} /* '' */
.icon-angle-up:before {
  content: '\e80c';
} /* '' */
.icon-arrow-down:before {
  content: '\e80d';
} /* '' */
.icon-arrow-left:before {
  content: '\e80e';
} /* '' */
.icon-arrow-right:before {
  content: '\e80f';
} /* '' */
.icon-arrow-up:before {
  content: '\e810';
} /* '' */
.icon-backward:before {
  content: '\e811';
} /* '' */
.icon-barcode:before {
  content: '\e812';
} /* '' */
.icon-bold:before {
  content: '\e813';
} /* '' */
.icon-long-arrow-alt-up:before {
  content: '\e814';
} /* '' */
.icon-locate:before {
  content: '\e815';
} /* '' */
.icon-borders:before {
  content: '\e816';
} /* '' */
.icon-box:before {
  content: '\e817';
} /* '' */
.icon-building:before {
  content: '\e818';
} /* '' */
.icon-info-outline:before {
  content: '\e819';
} /* '' */
.icon-button:before {
  content: '\e81a';
} /* '' */
.icon-calendar:before {
  content: '\e81b';
} /* '' */
.icon-caret-down:before {
  content: '\e81c';
} /* '' */
.icon-caret-left:before {
  content: '\e81d';
} /* '' */
.icon-caret-right:before {
  content: '\e81e';
} /* '' */
.icon-caret-up:before {
  content: '\e81f';
} /* '' */
.icon-check-square-o:before {
  content: '\e820';
} /* '' */
.icon-check-circle:before {
  content: '\e821';
} /* '' */
.icon-check-square:before {
  content: '\e822';
} /* '' */
.icon-chevron-down:before {
  content: '\e823';
} /* '' */
.icon-chevron-left:before {
  content: '\e824';
} /* '' */
.icon-chevron-up:before {
  content: '\e825';
} /* '' */
.icon-chevron-right:before {
  content: '\e826';
} /* '' */
.icon-circle:before {
  content: '\e827';
} /* '' */
.icon-clone-alt:before {
  content: '\e828';
} /* '' */
.icon-cloud-download-alt:before {
  content: '\e829';
} /* '' */
.icon-cloud-upload:before {
  content: '\e82a';
} /* '' */
.icon-code:before {
  content: '\e82b';
} /* '' */
.icon-cog:before {
  content: '\e82c';
} /* '' */
.icon-copy_landing:before {
  content: '\e82d';
} /* '' */
.icon-create:before {
  content: '\e82e';
} /* '' */
.icon-creative-commons-brands:before {
  content: '\e82f';
} /* '' */
.icon-dashboard:before {
  content: '\e830';
} /* '' */
.icon-desktop:before {
  content: '\e831';
} /* '' */
.icon-dot-circle:before {
  content: '\e832';
} /* '' */
.icon-duplicate:before {
  content: '\e833';
} /* '' */
.icon-edit:before {
  content: '\e834';
} /* '' */
.icon-ellipsis-h:before {
  content: '\e835';
} /* '' */
.icon-ellipsis-v:before {
  content: '\e836';
} /* '' */
.icon-envelope:before {
  content: '\e837';
} /* '' */
.icon-sync:before {
  content: '\e838';
} /* '' */
.icon-exchange-alt:before {
  content: '\e839';
} /* '' */
.icon-exclamation-circle:before {
  content: '\e83a';
} /* '' */
.icon-exclamation-triangle:before {
  content: '\e83b';
} /* '' */
.icon-button-paypal:before {
  content: '\e83c';
} /* '' */
.icon-smart_section:before {
  content: '\e83d';
} /* '' */
.icon-external-link-alt:before {
  content: '\e83e';
} /* '' */
.icon-eye-close:before {
  content: '\e83f';
} /* '' */
.icon-eye-open:before {
  content: '\e840';
} /* '' */
.icon-file:before {
  content: '\e841';
} /* '' */
.icon-main_page:before {
  content: '\e842';
} /* '' */
.icon-folder-minus:before {
  content: '\e843';
} /* '' */
.icon-folder-move-to:before {
  content: '\e844';
} /* '' */
.icon-folder-o:before {
  content: '\e845';
} /* '' */
.icon-folder-plus:before {
  content: '\e846';
} /* '' */
.icon-folder:before {
  content: '\e847';
} /* '' */
.icon-font:before {
  content: '\e848';
} /* '' */
.icon-thank_you_page:before {
  content: '\e849';
} /* '' */
.icon-forward:before {
  content: '\e84a';
} /* '' */
.icon-globe:before {
  content: '\e84b';
} /* '' */
.icon-hand-up-alt:before {
  content: '\e84c';
} /* '' */
.icon-hand-up:before {
  content: '\e84d';
} /* '' */
.icon-handlebar-circled:before {
  content: '\e84e';
} /* '' */
.icon-header:before {
  content: '\e84f';
} /* '' */
.icon-header1:before {
  content: '\e850';
} /* '' */
.icon-header2:before {
  content: '\e851';
} /* '' */
.icon-header3:before {
  content: '\e852';
} /* '' */
.icon-header4:before {
  content: '\e853';
} /* '' */
.icon-header5:before {
  content: '\e854';
} /* '' */
.icon-heart:before {
  content: '\e855';
} /* '' */
.icon-help_outline:before {
  content: '\e856';
} /* '' */
.icon-help:before {
  content: '\e857';
} /* '' */
.icon-history:before {
  content: '\e858';
} /* '' */
.icon-home:before {
  content: '\e859';
} /* '' */
.icon-icons:before {
  content: '\e85a';
} /* '' */
.icon-indent:before {
  content: '\e85b';
} /* '' */
.icon-info-circle:before {
  content: '\e85c';
} /* '' */
.icon-button-payu:before {
  content: '\e85d';
} /* '' */
.icon-italic:before {
  content: '\e85e';
} /* '' */
.icon-js:before {
  content: '\e85f';
} /* '' */
.icon-key:before {
  content: '\e860';
} /* '' */
.icon-keyboard:before {
  content: '\e861';
} /* '' */
.icon-layers-2:before {
  content: '\e862';
} /* '' */
.icon-lightbulb:before {
  content: '\e863';
} /* '' */
.icon-line-dash:before {
  content: '\e864';
} /* '' */
.icon-line-dots:before {
  content: '\e865';
} /* '' */
.icon-line-height:before {
  content: '\e866';
} /* '' */
.icon-line-solid:before {
  content: '\e867';
} /* '' */
.icon-link:before {
  content: '\e868';
} /* '' */
.icon-list-ol:before {
  content: '\e869';
} /* '' */
.icon-list-ul:before {
  content: '\e86a';
} /* '' */
.icon-lock-open:before {
  content: '\e86b';
} /* '' */
.icon-lock:before {
  content: '\e86c';
} /* '' */
.icon-minus-circle:before {
  content: '\e86d';
} /* '' */
.icon-menu:before {
  content: '\e86e';
} /* '' */
.icon-minus-square:before {
  content: '\e86f';
} /* '' */
.icon-button-stripe:before {
  content: '\e870';
} /* '' */
.icon-mobile:before {
  content: '\e871';
} /* '' */
.icon-move:before {
  content: '\e872';
} /* '' */
.icon-ok:before {
  content: '\e873';
} /* '' */
.icon-outdent:before {
  content: '\e874';
} /* '' */
.icon-padding-bottom:before {
  content: '\e875';
} /* '' */
.icon-padding-right:before {
  content: '\e876';
} /* '' */
.icon-paragraph-widget:before {
  content: '\e877';
} /* '' */
.icon-paragraph:before {
  content: '\e878';
} /* '' */
.icon-phone:before {
  content: '\e879';
} /* '' */
.icon-photo:before {
  content: '\e87a';
} /* '' */
.icon-picture:before {
  content: '\e87b';
} /* '' */
.icon-archive-restore:before {
  content: '\e87c';
} /* '' */
.icon-plus-circle:before {
  content: '\e87d';
} /* '' */
.icon-plus-square:before {
  content: '\e87e';
} /* '' */
.icon-plus:before {
  content: '\e87f';
} /* '' */
.icon-publish:before {
  content: '\e880';
} /* '' */
.icon-pushpin:before {
  content: '\e881';
} /* '' */
.icon-download:before {
  content: '\e882';
} /* '' */
.icon-radius-all:before {
  content: '\e883';
} /* '' */
.icon-radius-left-down:before {
  content: '\e884';
} /* '' */
.icon-radius-left-top:before {
  content: '\e885';
} /* '' */
.icon-radius-right-down:before {
  content: '\e886';
} /* '' */
.icon-radius-right-top:before {
  content: '\e887';
} /* '' */
.icon-long-arrow-alt-up-left:before {
  content: '\e888';
} /* '' */
.icon-redo:before {
  content: '\e889';
} /* '' */
.icon-caps:before {
  content: '\e88a';
} /* '' */
.icon-reply:before {
  content: '\e88b';
} /* '' */
.icon-resize-horizontal:before {
  content: '\e88c';
} /* '' */
.icon-resize-vertical:before {
  content: '\e88d';
} /* '' */
.icon-save:before {
  content: '\e88e';
} /* '' */
.icon-search:before {
  content: '\e88f';
} /* '' */
.icon-section:before {
  content: '\e890';
} /* '' */
.icon-long-arrow-alt-up-right:before {
  content: '\e891';
} /* '' */
.icon-share:before {
  content: '\e892';
} /* '' */
.icon-sort-down:before {
  content: '\e893';
} /* '' */
.icon-sort-up:before {
  content: '\e894';
} /* '' */
.icon-sort:before {
  content: '\e895';
} /* '' */
.icon-spinner:before {
  content: '\e896';
} /* '' */
.icon-square-o:before {
  content: '\e897';
} /* '' */
.icon-long-arrow-alt-down-left:before {
  content: '\e898';
} /* '' */
.icon-long-arrow-alt-down-right:before {
  content: '\e899';
} /* '' */
.icon-strikethrough:before {
  content: '\e89a';
} /* '' */
.icon-suitcase:before {
  content: '\e89b';
} /* '' */
.icon-switches:before {
  content: '\e89c';
} /* '' */
.icon-sygnet:before {
  content: '\e89d';
} /* '' */
.icon-tablet:before {
  content: '\e89e';
} /* '' */
.icon-text-height:before {
  content: '\e89f';
} /* '' */
.icon-text-width:before {
  content: '\e8a0';
} /* '' */
.icon-text:before {
  content: '\e8a1';
} /* '' */
.icon-time:before {
  content: '\e8a2';
} /* '' */
.icon-timer:before {
  content: '\e8a3';
} /* '' */
.icon-times-circle:before {
  content: '\e8a4';
} /* '' */
.icon-trash:before {
  content: '\e8a5';
} /* '' */
.icon-underline:before {
  content: '\e8a6';
} /* '' */
.icon-undo:before {
  content: '\e8a7';
} /* '' */
.icon-unlink:before {
  content: '\e8a8';
} /* '' */
.icon-user-tie:before {
  content: '\e8a9';
} /* '' */
.icon-user:before {
  content: '\e8aa';
} /* '' */
.icon-users:before {
  content: '\e8ab';
} /* '' */
.icon-video:before {
  content: '\e8ac';
} /* '' */
.icon-view_list:before {
  content: '\e8ad';
} /* '' */
.icon-window-close:before {
  content: '\e8ae';
} /* '' */
.icon-long-arrow-alt-down:before {
  content: '\e8af';
} /* '' */
.icon-long-arrow-alt-left:before {
  content: '\e8b0';
} /* '' */
.icon-long-arrow-alt-right:before {
  content: '\e8b1';
} /* '' */
.icon-equal:before {
  content: '\e8b2';
} /* '' */
.icon-exclamation:before {
  content: '\e8b3';
} /* '' */
.icon-exit:before {
  content: '\e8b4';
} /* '' */
.icon-filter:before {
  content: '\e8b5';
} /* '' */
.icon-form:before {
  content: '\e8b6';
} /* '' */
.icon-info:before {
  content: '\e8b7';
} /* '' */
.icon-minus:before {
  content: '\e8b8';
} /* '' */
.icon-play:before {
  content: '\e8b9';
} /* '' */
.icon-question:before {
  content: '\e8ba';
} /* '' */
.icon-random:before {
  content: '\e8bb';
} /* '' */
.icon-remove:before {
  content: '\e8bc';
} /* '' */
.icon-share-square:before {
  content: '\e8bd';
} /* '' */
.icon-step-backward:before {
  content: '\e8be';
} /* '' */
.icon-step-forward:before {
  content: '\e8bf';
} /* '' */
.icon-button-pay:before {
  content: '\e8c0';
} /* '' */
.icon-percent:before {
  content: '\e8c1';
} /* '' */
.icon-desktop-mobile2:before {
  content: '\e8c2';
} /* '' */
.icon-lab:before {
  content: '\e8c3';
} /* '' */
.icon-api:before {
  content: '\e8c4';
} /* '' */
.icon-clipboard:before {
  content: '\e8c5';
} /* '' */
.icon-login:before {
  content: '\e8c6';
} /* '' */
.icon-shield-info:before {
  content: '\e8c7';
} /* '' */
.icon-shield:before {
  content: '\e8c8';
} /* '' */
.icon-article:before {
  content: '\e8c9';
} /* '' */
.icon-block:before {
  content: '\e8ca';
} /* '' */
.icon-reset:before {
  content: '\e8cb';
} /* '' */
.icon-star:before {
  content: '\e8cc';
} /* '' */
.icon-share-alt:before {
  content: '\e8cd';
} /* '' */
.icon-ai:before {
  content: '\e8ce';
} /* '' */
.icon-line-chart:before {
  content: '\e8cf';
} /* '' */
.icon-chart-alt:before {
  content: '\e8d0';
} /* '' */
.icon-chart:before {
  content: '\e8d1';
} /* '' */
.icon-web:before {
  content: '\e8d2';
} /* '' */
.icon-popup:before {
  content: '\e8d3';
} /* '' */
.icon-product:before {
  content: '\e8d4';
} /* '' */
.icon-money:before {
  content: '\e8d5';
} /* '' */
.icon-credit-card:before {
  content: '\e8d6';
} /* '' */
.icon-server:before {
  content: '\e8d7';
} /* '' */
.icon-play-lesson:before {
  content: '\e8d8';
} /* '' */
.icon-academy:before {
  content: '\e8d9';
} /* '' */
.icon-case-studies:before {
  content: '\e8da';
} /* '' */
.icon-video-alt:before {
  content: '\e8db';
} /* '' */
.icon-help-center:before {
  content: '\e8dc';
} /* '' */
.icon-bullhorn:before {
  content: '\e8dd';
} /* '' */
.icon-visits:before {
  content: '\e8de';
} /* '' */
.icon-templates:before {
  content: '\e8df';
} /* '' */
.icon-package:before {
  content: '\e8e0';
} /* '' */
.icon-gallery:before {
  content: '\e8e1';
} /* '' */
.icon-archive:before {
  content: '\e8e2';
} /* '' */
.icon-users-circle:before {
  content: '\e8e3';
} /* '' */
.icon-inbox:before {
  content: '\e8e4';
} /* '' */
.icon-workspaces:before {
  content: '\e8e5';
} /* '' */
.icon-anchor:before {
  content: '\e8e6';
} /* '' */
.icon-guide:before {
  content: '\e8e7';
} /* '' */
.icon-dis-rules:before {
  content: '\e8e8';
} /* '' */
.icon-champ:before {
  content: '\e8e9';
} /* '' */
.icon-consultation:before {
  content: '\e8ea';
} /* '' */
.icon-configure:before {
  content: '\e8eb';
} /* '' */
.icon-thumb-up:before {
  content: '\e8ec';
} /* '' */
.icon-thumb-down:before {
  content: '\e8ed';
} /* '' */
.icon-star-outlined:before {
  content: '\e8ef';
} /* '' */
.icon-palette:before {
  content: '\e8f0';
} /* '' */
.icon-brush:before {
  content: '\e8f1';
} /* '' */
.icon-globe-active-ssl:before {
  content: '\e8f2';
} /* '' */
.icon-globe-active-no-ssl:before {
  content: '\e8f3';
} /* '' */
.icon-hourglass-start:before {
  content: '\e8f4';
} /* '' */
.icon-notifications:before {
  content: '\e8f5';
} /* '' */
.icon-extension:before {
  content: '\e8f6';
} /* '' */
.icon-separate-borders:before {
  content: '\e8f7';
} /* '' */
.icon-border-left:before {
  content: '\e8f8';
} /* '' */
.icon-border-right:before {
  content: '\e8f9';
} /* '' */
.icon-border-bottom:before {
  content: '\e8fa';
} /* '' */
.icon-border-top:before {
  content: '\e8fb';
} /* '' */
.icon-file-copy:before {
  content: '\e8fc';
} /* '' */
.icon-numbers:before {
  content: '\e8ff';
} /* '' */
.icon-multipe-checkboxes:before {
  content: '\e902';
} /* '' */
.icon-dropdown:before {
  content: '\e903';
} /* '' */
.icon-flag:before {
  content: '\e904';
} /* '' */
.icon-recaptcha:before {
  content: '\e905';
} /* '' */
.icon-dropbox:before {
  content: '\e906';
} /* '' */
.icon-google-drive:before {
  content: '\e907';
} /* '' */
.icon-stack:before {
  content: '\e908';
} /* '' */
.icon-bg-removing:before {
  content: '\e909';
} /* '' */
.icon-folder-search:before {
  content: '\e90a';
} /* '' */
.icon-wordpress:before {
  content: '\e90b';
} /* '' */
.icon-flask-fill:before {
  content: '\e90c';
} /* '' */
.icon-flask:before {
  content: '\e90d';
} /* '' */
.icon-wordpress-alt:before {
  content: '\e90e';
} /* '' */
.icon-server-alt:before {
  content: '\e90f';
} /* '' */
.icon-ds:before {
  content: '\e910';
} /* '' */
.icon-align_vertical_top:before {
  content: '\e911';
} /* '' */
.icon-align_vertical_center:before {
  content: '\e912';
} /* '' */
.icon-align_vertical_bottom:before {
  content: '\e913';
} /* '' */
.icon-align_horizontal-right:before {
  content: '\e914';
} /* '' */
.icon-align_horizontal-center:before {
  content: '\e915';
} /* '' */
.icon-align_horizontal-left:before {
  content: '\e916';
} /* '' */
.icon-layer-on-top:before {
  content: '\e917';
} /* '' */
.icon-layer-down:before {
  content: '\e918';
} /* '' */
.icon-layer-bottom:before {
  content: '\e919';
} /* '' */
.icon-layer-front:before {
  content: '\e91a';
} /* '' */
.icon-roller:before {
  content: '\e91b';
} /* '' */
.icon-pictures:before {
  content: '\e91c';
} /* '' */
.icon-plug:before {
  content: '\e91d';
} /* '' */
.icon-file-alt:before {
  content: '\e91e';
} /* '' */
.icon-home-cog:before {
  content: '\e920';
} /* '' */
.icon-subaccount:before {
  content: '\e921';
} /* '' */
.icon-speed:before {
  content: '\e922';
} /* '' */
.icon-arrow-increase:before {
  content: '\e9f9';
} /* '' */
.icon-arrow-decrease:before {
  content: '\e9fa';
} /* '' */
.icon-keyboard_command:before {
  content: '\e9fb';
} /* '' */
.icon-backspace:before {
  content: '\e9fc';
} /* '' */
.icon-id-badge:before {
  content: '\ea00';
} /* '' */
.icon-marketing-agreement:before {
  content: '\ea01';
} /* '' */
