.icon {
  &--default {
    color: $color-12;
  }

  &--white {
    color: $color-white;
  }

  &--primary {
    color: $color-brand;
  }

  &--color-1 {
    color: $color-1;
  }

  &--color-2 {
    color: $color-2;
  }

  &--color-3 {
    color: $color-3;
  }

  &--color-8 {
    color: $color-8;
  }

  &--warning {
    color: $color-warning;
  }

  &--success {
    color: $color-success;
  }

  &--alert {
    color: $color-alert;
  }

  &--info {
    color: $color-info;
  }

  &--spin {
    display: inline-block;
    animation: spinIcon 1s linear infinite;
  }
}

@keyframes spinIcon {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

