.search-container {
  margin: 0 15px 15px;
}

.form-field {
  &__dropdown {
    &--has-error {
      border-color: $color-error;
      border-width: 2px;
    }
  }

  &__label {
    position: relative;
    top: 35px;
    left: 0px;
    font-size: 16px;

    &--has-error {
      color: $color-error;
    }

    &--has-label {
      top: 0;
      font-size: 14px;
    }

    &--disabled {
      color: $color-input-border;
      cursor: not-allowed;
    }
  }
}

.list {
  li > div {
    span {
      padding: 0;
    }
  }
}
