.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: $z-index-modal--dialog;
}

.modal {
  position: relative;
  left: -50%;
  transform: translateY(-50%);
  background: $color-white;
  box-shadow: 0 2px 4px 3px $color-shadow;
  width: 780px;
  max-width: 100%;
  max-height: 100%;
  z-index: $z-index-modal;

  &__header {
    display: flex;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    padding: $padding-x-large $padding-big 0;

    &--close-only {
      justify-content: flex-end;
    }

    span {
      flex: 1;
      margin: 0;
      line-height: 1;
    }

    &--animation-open {
      animation: fade-in 1.6s;
    }

    &--animation-close {
      opacity: 0;
      animation: fade-out 0.8s;
    }
  }

  &__component {
    width: 100%;
    display: flex;
    border-radius: 6px;
    justify-content: space-between;
    align-items: flex-start;
    padding: $padding-large 40px 0;

    &--child {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--animation-open {
      animation: fade-in 1.6s;
    }

    &--animation-close {
      opacity: 0;
      animation: fade-out 0.8s;
    }
  }

  &__body {
    padding: $padding-x-large $padding-big;

    &--has-footer {
      padding: $padding-x-large $padding-big 0;
    }

    &--no-padding {
      padding: 0;
    }

    &--animation-open {
      animation: fade-in 1.6s;
    }

    &--animation-close {
      opacity: 0;
      animation: fade-out 0.8s;
    }
  }

  &__footer-divider {
    padding: 0px $padding-big;
  }

  &__footer {
    display: flex;
    align-items: center;
    padding: 0 40px $padding-x-large;

    button {
      margin-left: 15px;
    }

    &--align-right {
      justify-content: flex-end;
    }

    &--align-center {
      justify-content: center;
    }

    &--align-left {
      justify-content: flex-start;
    }
  }

  &--fullscreen {
    width: 100vw;
    height: 100vh;
    z-index: $z-index-modal--dialog;
    background: $color-white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    border-radius: 0;
  }

  &--x-small {
    width: 530px;
  }

  &--small {
    width: 764px;
  }

  &--medium {
    width: 880px;
  }

  &--big {
    width: 1080px;
  }

  &--huge-responsive {
    width: 85vw;
    max-width: 1280px;
  }

  &--topbar {
    width: 100vw;
    height: 100vh;
    z-index: $z-index-modal--dialog;
    border-radius: 0;
    background-color: #ececec;

    :global {
      .Modal__modal__header {
        height: 60px;
        background: $color-white;
        box-shadow: 0 2px 4px 0 $color-shadow;
        padding: 0 28px;
      }
    }
  }

  &--page {
    width: 100vw;
    height: 100vh;
    z-index: $z-index-modal--dialog;
    background: $color-bg;
    border-radius: 0;

    :global {
      .Modal__modal__body {
        padding: 0;
        > div {
          max-height: 100vh !important;
        }
      }
    }
  }

  &--center {
    align-items: center;
  }

  &--animation-open {
    animation: swipe 0.8s ease-in-out;
  }

  &--animation-close {
    animation: swipe-back 1.6s ease-in-out;
  }
}

@keyframes swipe {
  0% {
    transform: translateX(100%) translateY(-50%);
  }
  100% {
    transform: translateX(0%) translateY(-50%);
  }
}

@keyframes swipe-back {
  0%, 50% {
    transform: translateX(0%) translateY(-50%);
  }
  100% {
    transform: translateX(100%) translateY(-50%);
  }
}

@keyframes fade-in {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0%, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
