.test-domain-icon {
    display: inline-flex;
    border-radius: 50%;
    min-height: 15px;
    min-width: 15px;
    height: 15px;
    width: 15px;
    padding: 0;
    background-color: $color-warning;

    svg {
        color: $color-white;
        font-size: 7px;
        margin: auto;
    }
}
