.toggle-container {
  display: flex;
  align-items: center;
}

.toggle {
  display: flex;
  margin-right: 5px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  min-width: 49px;
  height: 24px;
  background: $color-3;
  border-radius: 12px;
  position: relative;
  transition: background-color 0.2s;

  &--checked-success {
    background: $color-success;
  }

  &--checked-brand {
    background: $color-brand;
  }

  &--checked-disabled {
    background: #a0d9b9;
    cursor: not-allowed;
  }

  &__checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  &__checkbox:checked + span {
    left: calc(100% - 3px);
    transform: translateX(-100%);
  }

  &__button {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);

    &-spinner {
      width: 18px;
      height: 18px;

      svg,
      i {
        color: $color-4;
      }
    }
  }

  &__label {
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
  }

  &::before {
    visibility: hidden;
  }

  &--disabled {
    background: $color-4;
    cursor: not-allowed;
  }
}

.label {
  margin: 0 0 $padding-tiny $padding-small;
  font-weight: 400;
}

.toggle-container--small {
  .toggle {
    min-width: 40px;
    height: 20px;

    &__button {
      width: 14px;
      height: 14px;
    }
  }
}