.textarea {
  resize: none;
  margin: 10px 0 42px 0;
  box-sizing: border-box;
  width: 100%;
  height: 280px;
  background-color: $color-1;
  border: 1px solid $color-input-border;
  font-family: 'Courier New', Courier, monospace;
  color: $color-8;
  font-size: 12px;
  padding: 11px 10px;

  &:focus{
    box-shadow: none;
    border: 1px solid $color-1;
  }
}
