.social-connect-badge {
    button {
        display: flex;
    }

    span {
        line-height: 0.8;
        text-transform: uppercase;
    }

    &-facebook {
        &--connect {
            button {
                background: $color-facebook;
                color: $color-white;
        
                &:active {
                    background-color: $color-brand;
                }

                &:hover,
                &:focus {
                background-color: $color-facebook;
                color: $color-white;
                }

                svg {
                    background: $color-white;
                    color: $color-facebook;
                    top: -4px;
                    border-radius: 50%;
                    position: relative;
                    left: -11px;
                    font-size: 20px;
                    margin: 0;
                }
            }
        }

        &--disconnect {
            button {
                background: $color-white;
                color: $color-facebook;
                border: 2px solid $color-facebook;
    
                &:active {
                    background-color: $color-white;
                  }
    
                  &:hover,
                  &:focus {
                    background-color: $color-white;
                    color: $color-facebook;
                }
    
                svg {
                    background-color: $color-facebook;
                    color: $color-white;
                    top: -4px;
                    border-radius: 50%;
                    position: relative;
                    left: -11px;
                    font-size: 20px;
                    margin: 0;
                }
            }
        }
    }
    
    &-google {
        &--connect {
            button {
                background: $color-google;
                color: $color-white;

                &:active {
                    background-color: $color-brand;
                }

                &:hover,
                &:focus {
                    background-color: $color-google;
                    color: $color-white;
                }
                svg {
                    color: $color-google;
                    top: -10px;
                    border: 9px solid $color-white;
                    background: $color-white;
                    border-radius: 50%;
                    position: relative;
                    left: -18px;
                    font-size: 16px;
                    margin: 0;
                }
            }
        }

        &--disconnect {
            button {
                background: $color-white;
                color: $color-2;
                border: 2px solid $color-8;
            
                &:active {
                    background-color: $color-white;
                }
                
                &:hover,
                &:focus {
                    background-color: $color-white;
                    color: $color-2;
                }
        
                svg {
                    color: $color-2;
                    top: -12px;
                    border: 9px solid $color-white;
                    background: $color-white;
                    border-radius: 50%;
                    position: relative;
                    left: -18px;
                    font-size: 16px;
                    margin: 0;
                }
            }
        }
    }
}