.wrapper {
  position: relative;

  .color-picker {
    position: absolute;
    padding: 0 0 10px 0;
    top: 50%;
    left: 100%;
    transform: translate(10%, -50%);
    height: auto;
    width: 225px;
    background-color: $color-white;
    box-shadow: 0px 3px 6px #00000029;
    z-index: $z-index-color-picker;

    .icons-wrapper {
      padding: 0 0 14px 0;
      margin: 0 16px 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--has-color-palette {
      .icons-wrapper {
        border-bottom: 1px solid $color-1;
      }
    }

    &__switches {
      width: 100%;
    }

    &__color-palette {
      box-sizing: border-box;
      padding: 12px 16px;
      width: 100%;
      height: auto;
      max-height: 110px;
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(6, 1fr);
      gap: 5px;
      overflow-y: auto;
    }

    &__label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &__color-box {
      box-sizing: border-box;
      width: 24px;
      height: 24px;
      border: 1px solid $color-1;
      cursor: pointer;


      &--preview {
        position: relative;
        margin: 0 0 0 8px;

        &:before {
          background-color: #fff;
          background-image: linear-gradient(
            45deg,rgba(0,0,0,.1) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,.1) 75%,rgba(0,0,0,.05)),linear-gradient(
            45deg,rgba(0,0,0,.1) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,.1) 75%,rgba(0,0,0,.1));
          background-size: 12px 12px;
          background-position: 0 0,6px 6px;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }
      }

      &:hover:not(.color-picker__color-box--preview):not(.color-picker__color-box--active) {
        border: 1px solid $color-brand;
        box-shadow: 5px 10px 20px #0000001A;
      }

      &--active {
        border: 1px solid $color-publish;

        &:hover {
          border: 1px solid $color-publish;
          box-shadow: 5px 10px 20px #0000001A;
        }
      }
    }
  }
}

:global{
  .chrome-picker {
    background: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;

    label {
      font-weight: 500 !important;
      color: $color-3 !important;
      font-size: 14px !important;
    }

    input {
      border-bottom: 1px solid $color-input-border !important;
      color: $color-1 !important;
      box-shadow: none !important;
      outline: none !important;
      border-radius: 0px !important;
      font-size: 16px !important;

      &:focus {
        border-bottom: 1px solid $color-1 !important;
      }
    }
  }

  .chrome-picker > div:nth-child(2)  {
    .flexbox-fix:nth-child(2) {
      div:nth-of-type(2) {
        svg {
          fill: $color-3 !important;
          border-radius: 0px !important;
          transition: 0.2s ease all;

          &:hover {
            background: $color-switcher !important;
            fill: $color-1 !important;
          }

        }
      }
    }
  }

  .chrome-picker > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    width: 36px !important;
  }

  .chrome-picker > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    width: 24px !important;
    height: 24px !important;
    border-radius: 0px !important;
    margin-top: 0px !important;
    border: 1px solid $color-1;

    div:nth-child(1) {
      border-radius: 0px !important;
    }
  }
}
