.wrapper {
  position: relative;
  display: flex;

  align-items: center;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.label {
  width: 100%;

  &--small {
    font-size: 14px;
  }

  &--medium {
    font-size: 23px;
  }
}

.input {
  border: 0;
  background-color: transparent;
  box-shadow: none;
  width: 100%;

  &--small {
    font-size: 14px;
  }

  &--medium {
    font-size: 23px;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.input-bar {
  position: absolute;
  width: 100%;
  height: .5px;
  background-color: $color-1;
  bottom: 0;
  left: 0;
  transform-origin: left center;
  transition: transform 0.3s;
  transform: scale(0, 1);

  &--focus {
    transform: scale(1, 3);
  }
}

.button {
  opacity: 0;
  transition: opacity 0.1s;

  &--active {
    opacity: 1;
  }
}
