.container {
  position: relative;
  display: flex;
  align-items: center;

  &--small {
    width: 225px;
    height: 22px;
  }

  &--big {
    width: 540px;
    height: 36px;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  width: 100%;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;

  &--small {
    font-size: 14px;
    max-width: 190px;
  }

  &--big {
    font-size: 23px;
    font-weight: 600;
    max-width: 490px;
  }

  &--disabled {
    cursor: text;
  }
}

.input {
  border: 0;
  background-color: transparent;
  box-shadow: none;
  padding: 0;

  &--small {
    font-size: 14px;
    width: 190px;
  }

  &--big {
    font-size: 23px;
    width: 490px;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.input-bar {
  position: absolute;
  width: 100%;
  background-color: $color-1;
  bottom: 0;
  left: 0;
  transform-origin: left center;
  transition: transform 0.3s;
  transform: scaleX(0);
  height: 0.5px;

  &--focus-big {
    transform: scaleX(1);
    height: 2px;
  }

  &--focus-small {
    transform: scaleX(1);
    height: 1px;
  }

  &--hover {
    transform: scaleX(1);
    height: 1px;
  }
}

.button {
  opacity: 0;
  transition: opacity 0.1s;

  &--active {
    opacity: 1;
  }
}
