.input__checkbox {
  z-index: 0;
  position: relative;
  display: inline-block;
  margin-bottom: 0;

  input {
    appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    width: 40px;
    height: 40px;
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition:
      opacity 0.3s,
      transform 0.2s;

    &:checked,
    &:indeterminate {
      background-color: $color-brand;

      + div {
        &::before {
          border-color: $color-brand;
          background-color: $color-brand;
        }

        &::after {
          border-color: $color-white;
        }
      }
    }

    &:indeterminate {
      background-color: $color-brand;

      + div {
        &::after {
          border-left: none;
          transform: translate(3px, 4px);
        }
      }
    }

    &:focus {
      opacity: 0;
      outline: none;
    }

    &:active {
      opacity: 1;
      transform: scale(0);
      transition:
        transform 0s,
        opacity 0s;

      + div {
        &::before {
          border-color: $color-brand;
        }
      }
    }

    &:checked:active {
      opacity: 1;
      transform: scale(0);
      transition:
        transform 0s,
        opacity 0s;

      + div {
        &::before {
          border-color: transparent;
          background-color: $color-brand;
          opacity: 0.6;
        }
      }
    }

    &:disabled {
      opacity: 0;
      + div {
        color: $color-5;
        cursor: initial;

        &::before {
          border-color: currentColor;
        }
      }
    }

    &:checked:disabled,
    &:indeterminate:disabled {
      + div::before {
        border-color: transparent;
        background-color: currentColor;
      }
    }
  }

  div {
    &::before {
      content: '';
      display: inline-block;
      box-sizing: border-box;
      margin: 3px 11px 3px 1px;
      background-color: $color-white;
      border: 2px solid;
      border-color: $color-8;
      border-radius: 2px;
      width: 18px;
      height: 18px;
      vertical-align: top;
      transition:
        border-color 0.2s,
        background-color 0.2s;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 4px;
      left: 2px;
      width: 8px;
      height: 3px;
      border: 2px solid transparent;
      border-right: none;
      border-top: none;
      transform: translate(3px, 4px) rotate(-45deg);
      box-sizing: content-box;
    }
  }

  &:hover {
    input {
      opacity: 0.04;

      &:focus {
        opacity: 0.16;
      }
    }
  }

  &--table-deselect {
    div {
      &::after {
        border-right: none;
        border-left: none;
        border-top: none;
        transform: translate(4px, 4px);
        top: 4px;
      }
    }
  }

  &--special-background-color {
    &--color-1 {
      input {
        &:checked,
        &:indeterminate {
          background-color: $color-checkbox-background;

          + div {
            &::before {
              border-color: $color-checkbox-background;
              background-color: $color-checkbox-background;
            }
          }
        }
      }
    }
    &--color-2 {
      input {
        &:checked,
        &:indeterminate {
          background-color: $color-accent-7;

          + div {
            &::before {
              border-color: $color-accent-7;
              background-color: $color-accent-7;
            }
          }
        }
      }
    }
    &--color-3 {
      input {
        &:checked,
        &:indeterminate {
          background-color: $color-brand;

          + div {
            &::before {
              border-color: $color-brand;
              background-color: $color-brand;
            }
          }
        }
      }
    }
    &--color-4 {
      input {
        &:checked,
        &:indeterminate {
          background-color: $color-warning;

          + div {
            &::before {
              border-color: $color-warning;
              background-color: $color-warning;
            }
          }
        }
      }
    }
    &--color-5 {
      input {
        &:checked,
        &:indeterminate {
          background-color: $color-accent-2;

          + div {
            &::before {
              border-color: $color-accent-2;
              background-color: $color-accent-2;
            }
          }
        }
      }
    }
  }
}
