.badge {
  position: relative;
  padding: 0 $padding-tiny;
  text-transform: uppercase;
  font-size: 12px;
  color: $color-white;
  border-radius: $radius-micro;
  line-height: 20px;
  display: inline-flex;
  align-items: baseline;
  height: 20px;
  margin-right: 5px;

  .badge-tooltip {
    max-width: 105px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  svg {
    vertical-align: -1px;
    margin-right: $margin-tiny;
  }

  :global {
    .Dropdown__dropdown__wrapper {
      background: inherit;
      padding: inherit;
      color: inherit;
      min-height: 20px;
      z-index: 0;

      svg {
        color: inherit;
      }
    }

    .Dropdown__dropdown__label {
      font-size: inherit;
    }

    .List__list-item--dropdown {
      text-transform: initial;
    }
  }
}

.badge--accent-1 {
  background: $color-accent-1;
}

.badge--accent-2 {
  background: $color-accent-2;
}

.badge--accent-3 {
  background: $color-accent-3;
}

.badge--accent-4 {
  background: $color-accent-4;
}

.badge--accent-5 {
  background: $color-accent-5;
}

.badge--accent-6 {
  background: $color-accent-6;
}

.badge--alert {
  background: $color-alert;
}

.badge--warning {
  background: $color-warning;
}

.badge--success {
  background: $color-success;
}

.badge--info {
  background: $color-info;
}

.badge--pending {
  background: $color-pending;
}

.badge--indicator {
  border-radius: $radius-huge;
}

.badge--paid {
  background: $color-success;
}

.badge--open {
  background: $color-warning;
}

.badge--canceled {
  background: $color-alert;
}
