.wrapper {
  border: 1px solid $color-button-hover;
  width: fit-content;
}

.button {
  background: none;
  color: $color-3;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: $padding-small 20px;
  height: 100%;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    background-color: $color-button-hover;
  }

  &--active {
    text-decoration: none;
    background-color: $color-button-hover;
    color: $color-black;
  }

  &--disabled {
    cursor: not-allowed;
    text-decoration: none;
    background: none;
    color: $color-4;

    &:hover,
    &:focus,
    &:active {
      cursor: not-allowed;
      text-decoration: none;
      background: none;
      color: $color-4;
    }
  }
}
