.tr {
  td:first-of-type {
    padding-left: $padding-x-large;
  }

  td:last-of-type {
    padding-right: $padding-x-large;
  }
}

.td {
  padding: $padding-medium;
  border-bottom: 1px solid $color-7;
  font-size: 14px;
  color: $color-1;
}
