.indicator {
  position: relative;

  &__element {
    border-radius: $radius-huge;
    right: 6px;
    top: 0;
    color: $color-white;
    display: block;
    position: absolute;
    z-index: $z-index-indicator;
    min-width: 10px;
    min-height: 10px;
  }

  &--isAlert {
    &__element {
      background: $color-alert;
    }
  }
}
