.search {
  display: flex;
  align-content: center;
  align-items: center;
  flex: 1;
  box-sizing: border-box;

  &__input,
  input {
    box-sizing: border-box;
    border: 0;
    padding: 0 36px 0 44px;
    flex: 1;
    line-height: 1;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    box-shadow: none;
    font-size: 1em;

    &::placeholder {
      color: $color-8;
    }

    &:focus,
    &:active {
      box-shadow: 0px 3px 6px 0px rgba(221, 221, 221, 0.7);
      outline: none;
    }
  }

  &__clean {
    position: absolute;
    right: 2px;
  }

  &__icon {
    z-index: 1;
    position: absolute;
    left: $margin-medium;
    top: 50%;
    transform: translateY(-50%);

    svg,
    i {
      color: $color-4;
    }
  }

  &__icon-button {
    z-index: 1;
    position: absolute;
    left: 2px;
  }

  &--small {
    height: 28px;
    font-size: 12px;
    padding: 0 36px 0 34px;
  }

  &--medium {
    height: 38px;
    font-size: 14px;
  }

  &--large {
    height: 44px;
    font-size: 16px;
  }

  &--input {
    border: 1px solid $color-input-border;
    position: relative;
  }

  &--disabled {
    &:hover {
      cursor: not-allowed;
    }

    input {
      background-color: #f9f9f9;
      pointer-events: none;

      &::placeholder {
        color: #d8d8d8;
      }
    }
  }
}
