.paragraph {
  margin: 0;
  line-height: 18px;

  &-padding {
    &--medium {
      padding: 0 0 $padding-medium;
    }

    &--small {
      padding: $padding-small;
    }

    &--none {
      padding: 0;
    }
  }

  &-align {
    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }
  }

  &-color {
    &--accent-1 {
      color: $color-1;
      line-height: 20px;
    }

    &--accent-2 {
      color: $color-3;
      line-height: 20px;
    }

    &--accent-3 {
      color: $color-8;
      line-height: 20px;
    }

    &--accent-4 {
      color: $color-10;
    }

    &--accent-5 {
      color: $color-2;
    }

    &--accent-6 {
      color: $color-4;
    }

    &--info {
      color: $color-info;
    }

    &--white {
      color: $color-white;
    }
  }

  &-size {
    &--12 {
      font-size: 12px;
    }

    &--14 {
      font-size: 14px;
    }

    &--16 {
      font-size: 16px;
    }

    &--18 {
      font-size: 18px;
    }
  }

  &-weight {
    &--300 {
      font-weight: 300;
    }

    &--400 {
      font-weight: 400;
    }

    &--700 {
      font-weight: 700;
    }
  }
}
