.input {
  &__checkboxgroup {
    span {
      padding-left: 30px;
    }
  }
}

:global {
  .form-field {
    position: relative;
    margin-bottom: 15px;

    &--has-error {
      label {
        color: $color-error;
        position: absolute;
        top: 20px;
        left: 0;
        text-transform: uppercase;
        transition: opacity 0.3s, top 0.3s;
        opacity: 0;
      }
    }
  }
}
