.icon {
  &--default {
    color: $color-12;
  }

  &--white {
    color: $color-white;
  }

  &--primary {
    color: $color-brand;
  }

  &--color-2 {
    color: $color-2;
  }

  &--color-3 {
    color: $color-3;
  }

  &--warning {
    color: $color-warning;
  }

  &--success {
    color: $color-success;
  }

  &--alert {
    color: $color-alert;
  }

  &--info {
    color: $color-info;
  }

  &--spin {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: spinIcon;
    animation-timing-function: linear;
  }
}

@keyframes spinIcon {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

