$padding-tiny: 5px;
$padding-small: 10px;
$padding-medium: 15px;
$padding-large: 25px;
$padding-x-large: 30px;
$padding-big: 40px;
$padding-huge: 50px;
$padding-x-huge: 70px;

$margin-tiny: 5px;
$margin-small: 10px;
$margin-medium: 15px;
$margin-large: 25px;
$margin-x-large: 30px;
$margin-big: 40px;
$margin-huge: 50px;
$margin-x-huge: 70px;
