.radio {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 14px;
  margin: 0;
  line-height: 24px;
  opacity: 1;
  height: 0;

  label {
    font-weight: 400;
    margin: 0;
    font-size: 14px;
    color: $color-2;
    cursor: pointer;
    top: unset !important;
    left: unset !important;
    opacity: 1 !important;
    cursor: default;
  }

  &:checked {
    & ~ .radio__overlay {
      &:after {
        display: block;
      }
    }
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      & ~ .radio__overlay {
        background: $color-brand;
        border-color: $color-brand;

        &:after {
          display: block;
        }
      }
    }

    &:disabled {
      color: $color-5;

      & ~ .radio__overlay {
        background: $color-white;
        border: 2px solid $color-5;
        pointer-events: none;

        &:after {
          border: 0;
        }
      }

      &:checked {
        & ~ .radio__overlay {
          &:after {
            border: 2px solid $color-white;
            background: $color-5;
          }
        }
      }
    }
  }

  .radio__overlay {
    box-sizing: border-box;
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background: $color-white;
    border: 2px solid #a2a2a2;
    border-radius: 50%;

    &:after {
      box-sizing: unset;
      content: '';
      position: absolute;
      display: none;
      left: 0;
      top: 0;
      width: 10px;
      height: 10px;
      border: 2px solid $color-white;
      border-radius: 50%;
      background: $color-brand;
    }
  }
}
