.drawer {
  width: 340px;
  top: 0;
  position: fixed;
  box-shadow: 0 2px 4px 3px $color-shadow;
  z-index: $z-index-drawer;
  height: 100vh;
  margin-left: -350px;
  background: $color-white;
  transition: none;

  &--white {
      background: $color-white;

    .drawer__header {
      background: $color-white;
    }

    :global {
      .Close__close {
        button {
          background: $color-white;
        }
      }
    }
  }

    &--dark {
      background: $color-1;

      .drawer__header {
        background: $color-1;
      }

      :global {
        .Close__close {
          button {
            background: $color-1;
          }

          button:hover {
            background: $color-1;

            svg {
              color: $color-white;
            }
          }
        }
      }
    }

    &--default {
      background: $color-sidebar;

      .drawer__header {
        background: $color-sidebar;
      }

      :global {
          .Close__close {
            button {
              background: $color-sidebar;
            }

          button:hover {
            background: #1B46A2;

            svg {
              color: $color-white;
            }
          }
        }
      }
    }


  .drawer__header {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    align-content: center;
    flex-flow: wrap;
    padding: $padding-large $padding-x-large;
    line-height: 1;
  }

  :global {
    .Heading__h2 {
      color: $color-1;
      margin: unset;
      line-height: unset;
    }

    .Close__close {
      opacity: 1;
      font-size: 20px;
      color: $color-3;
    }

    .Search__search {
      margin: 0 $padding-x-large;
    }
  }
}
.drawer--medium {
  width: 200px;

  button {
    transition: none;
  }

  .drawer__header {
    height: 38px;
    padding: 12px 0;
  }
}
  .drawer--small {
    width: 100%;
    overflow: auto;

    :global {
      .SideBar__sidebar--responsive {
        width: 100%;
      }
    }

    button {
      transition: none;
    }

    .drawer__header {
      height: 38px;
      padding: 12px 0;
    }
  }
