.wrapper {
  width: 100%;
}

.filters-sorters {
  margin: $padding-small $padding-x-large 0 $padding-regular;
}

.table {
  width: 100%;
  padding: 0;
  border-collapse: collapse;

  &__pagination {
    padding: 0 $padding-x-large;
  }
}

.loaderWrapper {
  &--externalBorder {
    border-left: 1px solid $color-7;
    border-bottom: 1px solid $color-7;
    border-right: 1px solid $color-7;
  }
}
