.react-tooltip {
  border-radius: 0;
  opacity: 1;
  max-width: 250px;
  word-break: break-word;
  white-space: normal;
  overflow: visible;
  font-weight: 400;
  line-height: normal;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  background: $color-tooltip;
  color: $color-white;
  padding: 8px 21px;
  z-index: $z-index-new-dropdown;

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }
}

.trigger {
  cursor: pointer;
}