.bar {
	position: absolute;
  border-radius: 250px;

  &__small {
    height: 6px;
  }

  &__medium {
    height: 12px;
  }

  &__background {
    width: 100%;
    opacity: 0.2;
  }

  &__fulfillment {
    animation: fill 2s ease-out;

    &--bordered {
      top: 3px;
      left: 3px;
      height: 10px;
    }

    &--no-animation {
      animation: none;
    }
  }

  &__variant {
    &--success {
      background-color: $color-success;
    }

    &--warning {
      background-color: $color-warning;
    }

    &--alert {
      background-color: $color-alert;
    }

    &--progress {
      background-color: $color-info;
    }

    &--brand {
      background-color: $color-brand;
    }
  }

  &__border {
    &--white {
      border: 3px solid $color-white;
      background-color: $color-white;
      opacity: 1;
      height: 10px;
    }

    &--grey {
      border: 3px solid $color-10;
      background-color: $color-10;
      opacity: 1;
      height: 10px;
    }
  }
}

.container {
  position: relative;

  &__small {
    height: 6px;
  }

  &__medium {
    height: 12px;
  }

  &--bordered {
    margin-right: 6px;
  }
}

.max-result {
  padding-top: $padding-tiny;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  color: $color-5;
  font-size: 14px;
}

.limit-alert {
  padding-top: $padding-tiny;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  color: $color-2;
}

@keyframes fill {
  0% { width: 0px; }
}
