.custom-link {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &--active {
        color: $color-brand;

        &:hover {
            color: $color-button-primay-hover;
        }
    }

    &--inactive {
        color: $color-4;
        pointer-events: none;
        cursor: default;
    }

    &--dark {
        color: $color-1;

        &:hover {
            color: $color-brand;
        }
    }

    &--grey {
        color: $color-3;

        &:hover {
            color: $color-3;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &--bold {
        font-weight: 700;
      }

    &--underlined {
        text-decoration: underline;
    }

    &--10 {
        font-size: 10px;
    }

    &--12 {
        font-size: 12px;
    }

    &--14 {
        font-size: 14px;
    }

    &--16 {
        font-size: 16px;
    }
}
