:global {
  .form--has-error {
    select {
      border-color: $color-error;
      border-width: 2px;
    }

    label {
      color: $color-error;
    }
  }

  .form--has-value {
    .Label__label {
      top: -17px;
      opacity: 1;
      z-index: 1;
    }
  }

  .form-field--dropdown {
    label {
      opacity: 0;
    }
  }
}

.search-container {
  margin: 0 15px 15px;
}

:global {
  .List__list-item--dropdown {
    .Button__button {
      max-height: none;
    }
  }
}
