.accordion {
  &__item {
    width: auto;

    &--box {
      background-color: $color-white;
      box-shadow: 0px 2px 4px $color-shadow;
    }

    &--box-20 {
      margin-bottom: 20px;
    }

    &--title {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-padding {
        &-none {
          padding: 0;
        }

        &-small {
          padding: 0 $padding-medium;
        }

        &-medium {
          padding-left: $padding-x-large;
          padding-right: $padding-huge;
        }
      }

      > div {
        display: flex;
        align-items: center;
      }
    }

    &--title-h68 {
      height: 68px;
    }

    &--description {
      cursor: pointer;
      height: max-content;

      &-padding {
        &-none {
          padding: $padding-tiny 0 0 0;
        }

        &-small {
          padding-top: $padding-tiny;
          padding-left: $padding-medium;
          padding-right: $padding-medium;
        }

        &-medium {
          padding-top: $padding-tiny;
          padding-left: $padding-x-large;
          padding-right: $padding-x-large;
        }
      }
    }

    &--content {
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all .2s ease-in-out;

      &-padding {
        &-none {
          padding: 0;
        }

        &-small {
          padding: 0 $padding-medium;
        }

        &-medium {
          padding: 0 $padding-x-large;
        }
      }

      &-open {
        padding-top: $padding-medium;
        padding-bottom: $padding-medium;
        height: max-content;
        opacity: 1;
        transition: all .4s ease-out;
      }
    }
  }
}