on: 'pull_request'

jobs:
  CI:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Nodejs
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
          cache-dependency-path: pnpm-lock.yaml

      - name: Setup pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 8.6.12

      - run: pnpm install
      - run: pnpm lint
      - run: pnpm test
