:global {
  .form--has-error {
    select {
      border-color: $color-error;
      border-width: 2px;
    }

    label {
      color: $color-error;
    }
  }

  .form-field--dropdown.form--has-value {
    label {
      top: 0px;
      font-size: 14px;
    }
  }

  .form-field--dropdown {
    label {
      position: relative;
      top: 35px;
      left: 0px;
      font-size: 16px;
    }
  }

  .form-field--disabled {
    .Label__label {
      color: $color-input-border;
    }
  }
}

.search-container {
  margin: 0 15px 15px;
}

:global {
  .List__list-item--dropdown {
    .Button__button {
      max-height: none;
    }
  }
}
